@page
@model UCS.App.Frontend.Pages.DetallesEstudiantesModel
@{
}

<h1>@Model.Estudiante.nombre</h1>
<h1>@Model.Estudiante.apellido</h1>
<h1>@Model.Estudiante.identificacion</h1>
<h1>@Model.Estudiante.edad</h1>
<h1>@Model.Estudiante.EstadoCovid</h1>
<h1>@Model.Estudiante.carrera</h1>
<h1>@Model.Estudiante.Semestre</h1>
<a class="nav-link text-dark" asp-area="" asp-page="./Personas">Lista de Personas</a>