@page
@model UCS.App.Frontend.Pages.DetallesDirectivosModel
@{
}

<h1>@Model.Directivo.nombre</h1>
<h1>@Model.Directivo.apellido</h1>
<h1>@Model.Directivo.identificacion</h1>
<h1>@Model.Directivo.edad</h1>
<h1>@Model.Directivo.EstadoCovid</h1>
<h1>@Model.Directivo.unidadDesempeña</h1>
<a class="nav-link text-dark" asp-area="" asp-page="./Personas">Lista de Personas</a>