@page
@model UCS.App.Frontend.Pages.PersonasModel
@{
}
<h1>Lista de Directivos</h1>
<table class="table">
    
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Unidad Que desempeña </th>
        <th>detalles </th>
        
    </tr>
@foreach (var Directivo in Model.Directivos)
{
    <tr>
            <td>@Directivo.id</td>
            <td>@Directivo.nombre</td>
            <td>@Directivo.apellido</td>
            <td>@Directivo.unidadDesempeña </td>
            

            <td>
                <a class="btn btn-primary table-btn" asp-page="./DetallesDirectivos" asp-route-directivoId="@Directivo.id">
                    <i class="fas fa-info-circle"></i> Detalle Directivo
                </a>
            </td>
    </tr>
}
</table>

<h1>Lista de Profesores</h1>
<table class="table">
    
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Departamento </th>
        <th>detalles </th>
    </tr>
@foreach (var profesor in Model.Profesores)
{
    <tr>
            <td>@profesor.id</td>
            <td>@profesor.nombre</td>
            <td>@profesor.apellido</td>
            <td>@profesor.departamento </td>
            
            <td>
                <a class="btn btn-primary table-btn" asp-page="./DetallesProfesores" asp-route-profesoresId="@profesor.id">
                    <i class="fas fa-info-circle"></i> Detalle Profesor
                </a>
            </td>
    </tr>
}
</table>


<h1>Lista de estudiantes</h1>
<table class="table">
    
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Carrera</th>
        <th>detalles </th>
    </tr>
@foreach (var estudiante in Model.Estudiantes)
{
    <tr>
            <td>@estudiante.id</td>
            <td>@estudiante.nombre</td>
            <td>@estudiante.apellido</td>
            <td>@estudiante.carrera</td>
            
            <td>
                <a class="btn btn-primary table-btn" asp-page="./DetallesEstudiantes" asp-route-estudianteId="@estudiante.id">
                    <i class="fas fa-info-circle"></i> Detalle Estudiante
                </a>
            </td>
    </tr>
}
</table>

<h1>Lista de Personal de Aseo</h1>
<table class="table">
    
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Turno de servicio </th>
        <th>detalles </th>
        
    </tr>
@foreach (var PersonalAseo in Model.PersonaldeAseo)
{
    <tr>
            <td>@PersonalAseo.id</td>
            <td>@PersonalAseo.nombre</td>
            <td>@PersonalAseo.apellido</td>
            <td>@PersonalAseo.turnoServicio </td>
            

            <td>
                <a class="btn btn-primary table-btn" asp-page="./DetallesPersonalAseo" asp-route-personalAseoId="@PersonalAseo.id">
                    <i class="fas fa-info-circle"></i> Detalle Personal Aseo
                </a>
            </td>
    </tr>
}
</table>
