@page
@model UCS.App.Frontend.Pages.PersonasModel
@{
}
<h1>Lista de Directivos</h1>

<table class="table">
    @foreach (var directivo in Model.Directivos)
    {
        <tr>
            <td>@directivo.id</td> 
            <td>@directivo.nombre</td>
            <td>@directivo.apellido</td>
            @*<td>@directivo.identificacion</td>
            <td>@directivo.edad</td>
            <td>@directivo.EstadoCovid</td>
            <td>@directivo.unidadDesempeña</td>*@
            <td>
                <a class="btn btn-primary table-btn" asp-page="/Listas/DetallesDirectivos" asp-route-directivoid= "@directivo.id">
                <i class="fas fa-info-circle"></i>
                Detalle Directivo
                </a>
            </td>
            
        </tr>
    } 
</table>
<h1>Lista de Estudiantes</h1>

<table class="table">
    @foreach (var estudiante in Model.Estudiantes)
    {
        <tr>
            <td>@estudiante.id</td>
            <td>@estudiante.nombre</td>
            <td>@estudiante.apellido</td>
            @*<td>@estudiante.identificacion</td>
            <td>@estudiante.edad</td>
            <td>@estudiante.EstadoCovid</td>
            <td>@estudiante.carrera</td>
            <td>@estudiante.Semestre</td>*@
            <td>
                <a class="btn btn-primary table-btn" asp-page="/Listas/DetallesEstudiantes" asp-route-estudianteid= "@estudiante.id">
                <i class="fas fa-info-circle"></i>
                Detalle Estudiantes
                </a>
            </td>
        </tr>
    } 
</table>